<footer class="footer">
	<a class="footer-logo" href="/">
		<img src="/images/Logo-red.png" alt="EOS-UK" />
	</a>
	<nav>
		<ul class="footer-nav nav-links">
			{% include nav-links.html %}
		</ul>
	</nav>
	<h3> EOS-UK Charity Fund <span>Ethiopian Orphans Support-UK Charity Fund</span></h3>
	<p>
		<h4 class="text-white">
			Copy Right © 2016 EOS-UK Charity Fund (Registered charity number 1172420)<br/>C/O The Cedars, Stockwell Road, Tettenhall, Wolverhampton, WV6 9AZ, UK | Tel. +44(0)1902 751083 | Mobile: +44(0)7867 727445
		</h4>
	</p>
</footer>